/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Aug 2020, 10:37:07
    Author     : tgtuuli
*/

.cell {
    padding: 10px;
    background-color: #ae91b2;
}



