<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <title th:text="${title}">title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/public/style.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>
        <header th:fragment="header">
            <a th:href="@{/frontpage}">Front Page</a> |
            <a th:href="@{/userHomePage}">Homepage</a> |
            <a th:href="@{/messageboard}">Message Board</a> |
            <a th:href="@{/users}">users</a> |
            <a href="/perform_logout">Log out</a>
            
        </header>
        
        <nav th:fragment="navbar" class="navbar navbar-expand-sm bg-dark navbar-dark">
          <a class="navbar-brand" th:href="@{/frontpage}">MTF</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div  class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/userHomePage}">My Homepage</a>
              </li>
              <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/login}">login</a>
              </li>
              <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" th:href="@{/signup}">sign up</a>
              </li>
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/users}">Users</a>
              </li>  
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/messageboard}">Message Board</a>
              </li>
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/perform_logout">log out</a>
              </li>
            </ul>
          </div>  
        </nav>
        
        <div th:fragment="titlesection" class="jumbotron text-center" style="margin-bottom:0">
            <h1 th:text="${title}">Title</h1>
            <!--<p>Here you'll find an employee or an employer!</p> -->
        </div>
        <div>TODO write content</div>
    </body>
</html>
