
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headers :: head(title='skills')">
        <title>title</title>
    </head>
    <body>
        <div th:replace="fragments/headers :: navbar"></div>
        <div th:replace="fragments/headers :: titlesection(title='MyTalentedFriends')"></div>
        
        <div class="container">
            <form method="POST" th:action="@{/skills}">
                <table class="table">
                    <tr>
                        <td>Skill</td>
                        <td><input type="text" name="skill"/></td>
                        <td>
                            <input type="submit" value="Add a skill!"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        
    </body>
</html>
