<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Etusivu</title>
        
    </head>
    <body>
        <h1>Tuulin verkostosivu</h1>
        <a href="/signup" itemtype="button">Sign up</a>
        
        <div>Users:</div>
        <ul>
            <li th:each="user : ${users}">
                <span th:text="${user.firstName}">first name</span>
                <span th:text="${user.lastName}"></span>
                <span th:text="${user.username}"></span>
            </li>
        </ul>
        
        <div th:unless="${loggedIn}">
            <a href="/login"> Click here to log in</a>
        </div>
        
        <div th:if="${loggedIn}">
            You are logged in as <span th:text="${currentUser}"></span>
            <br/>
            <a th:href="@{/userHomePage}">Go to your homepage</a>
            <br/>
            <a th:href="@{/perform_logout}">log out</a>
        </div>
        
        
        
	
    </body>
</html>
