<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headers :: head(title='Front Page')">
        <title>Front Page</title>
        
    </head>
    <body>
        <div th:replace="fragments/headers :: header"></div>
        <h1>Welcome</h1>
        <br/>
        <a th:href="@{/signup}">Sign up</a>
        
        <div th:unless="${loggedIn}">
            <a href="/login"> Click here to log in</a>
        </div>
        
        <div th:if="${loggedIn}">
            You are logged in as <span th:text="${currentUser}"></span>
           
        </div>
        
        
        
	
    </body>
</html>
