<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headers :: head(title='Messageboard')">
        <title>MESSAGE BOARD</title>
        
    </head>
    <body>
        <div th:replace="fragments/headers :: header"></div>
        <h1>MESSAGE BOARD</h1>
        
        <form method="POST" th:action="@{/messageboard/post}">
            <textarea name="content" rows="5" placeholder="write your message here"></textarea>
            
            <input type="submit" value="Add!"/>
        </form>
        
        <ul>
            <li th:each="message : ${messages}">
                <span th:text="${#temporals.format(message.writtenAt, 'dd-mm-yy HH:mm')}"></span>
                <br/>
                <span th:text="${message.writer.username}"></span>:
                <br/>
                <span th:text="${message.content}"></span>
                <br/>
                Likes: <span th:text="${message.likes}"></span>
                <br/>
                <form th:action="@{/messageboard/like/{messageid}(messageid=${message.id})}" th:method="POST">
                    <input type="submit" value="Like"/>
                </form>
                <ul>
                    <li th:each="comment : ${message.comments}">
                        <span th:text="${#temporals.format(comment.writtenAt, 'dd-mm-yy HH:mm')}"></span>
                        <br/>
                        <span th:text="${comment.writer.username}"></span>:
                        <br/>
                        <span th:text="${comment.content}"></span>
                        <br/>
                        Likes: <span th:text="${comment.likes}"></span>
                        <br/>
                        <form th:action="@{/messageboard/likecomment/{commentid}(commentid=${comment.id})}" th:method="POST">
                            <input type="submit" value="Like"/>
                        </form>
                    </li>
                </ul>
                <form method="POST" th:action="@{/messageboard/comment/{messageid}(messageid=${message.id})}">
                    <textarea name="content" rows="5" placeholder="Comment"></textarea>
            
                    <input type="submit" value="send"/>
                    </form>
                
            </li>
        </ul>
        
    </body>
</html>
