<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headers :: head(title='profile picture')">
        <title>title</title>
        
    </head>
    <body>
        <div th:replace="fragments/headers :: navbar"></div>
        <div th:replace="fragments/headers :: titlesection(title='MyTalentedFriends')"></div>
        
        <div class="container">
            <form th:unless="${user.profilePicture == null}" th:action="@{/deleteimage}" method="POST">
                <input type="submit" value="Click here to delete your profile picture"/>
                
            </form>
            <strong>ADD A PROFILE PICTURE</strong>
            <form th:action="@{/image}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="accept" />
            </form>
        </div>
    
        
    </body>
</html>
