
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headers :: head(title='Users')">
        <title>title </title>
    </head>
    <body>
        <div th:replace="fragments/headers :: navbar"></div>
        <div th:replace="fragments/headers :: titlesection(title='USERS')"></div>
        <div style = padding: 10px th:replace="fragments/links :: searchbar"></div>
        
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody th:each="user : ${users}">
                <tr>
                    <td> <img th:src="@{/image/{username}(username=${user.username})}" 
                              class="img-fluid" width="40" height="40"/>
                    </td>
                    <td><a th:href="@{/userHomePage/{username}(username=${user.username})}" th:text="${user.firstName}"/></td>
                    <td><a th:href="@{/userHomePage/{username}(username=${user.username})}" th:text="${user.lastName}"/></td>
                    <td><a th:href="@{/userHomePage/{username}(username=${user.username})}" th:text="${user.username}"/></td>
                    <td><div th:if="${#lists.contains(friends, user)}">
                            <form th:action="@{delete/{username}(username=${user.username})}" th:method="POST">
                                <input type="submit" value="delete from friends"/>
                            </form>
                        </div>
                        <div th:if="${#lists.contains(sentrequests,user.id)}">
                            Request sent
                        </div>
                        <div th:if="${!#lists.contains(friends, user) and !#lists.contains(sentrequests,user.id)}">
                            <form th:action="@{friendrequest/{username}(username=${user.username})}" th:method="POST">
                                <input type="submit" value="send a friend request"/>
                            </form>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
            
        </table>
        
    </body>
</html>
