<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headers :: head(title='User Wall')">
        <title>USER WALL </title>
    </head>
    
    <body>
        
        <div th:replace="fragments/headers :: navbar"></div>
       <div th:replace="fragments/headers :: titlesection(title=${user.firstName + ' ' + user.lastName})"></div>

        <div class="container">
            
            <div class="row">
                <div class="col-sm-8">
                    
                    <a class="text-center" th:if="${user.description == null}" th:href="@{/description}">Click to add a description</a>
                    <div class="text-center" th:unless="${user.description == null}">
                        <p th:text="${user.description}"></p>
                    </div>
                    <h3>Skills:</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Praises</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="skill : ${skills}">
                                <td th:text="${skill.skillDescription}"></td>
                                <td th:text="${skill.likes}"></td>
                                <td>
                                    <div th:if="${isAVisitor}">
                                        <form th:action="@{/{username}/praise/{skillid}(username=${user.username}, skillid=${skill.id})}" method="POST">
                                        <input type="submit" value="praise"/>
                                        </form>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a th:unless="${isAVisitor}" th:href="@{/addskills}">Add skills</a>
                </div>
                <div class="col-sm-4">
                    <img th:src="@{/image/{username}(username=${user.username})}" 
                         class="img-fluid"/>
                    <div th:unless="${isAVisitor}">
                        <a th:href="@{/profilepicture}">change your profile picture</a>
                        <br/>
                        <h5 th:unless="${user.comingRequests.isEmpty()}">Friend requests:</h5>
                        <ul>
                            <li th:each="request : ${user.comingRequests}">
                                <a th:href="@{/userHomePage/{username}(username=${request.requestFrom.username})}" th:text="${request.requestFrom.username}">request from</a>
                                <form th:action="@{/accept/{username}(username=${request.requestFrom.username})}" method="POST">
                                    <input type="submit" value="accept"/>
                                </form>
                                <form th:action="@{/reject/{username}(username=${request.requestFrom.username})}" method="POST">
                                    <input type="submit" value="reject"/>
                                </form>
                            </li>
                        </ul>
                        <a class="nav-link" th:href="@{/{username}/friends(username=${user.username})}">My friends</a>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
